@import "tailwindcss";
@import "tw-animate-css";
@import "./typography.css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
    .bg-polka {
        --dot-color:rgba(0, 0, 0, 0.1);
        --dot-space:30px;
        --dot-size:1px;
        background-image:radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)),
        radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
        background-size:var(--dot-space) var(--dot-space);
        background-position:0 0, calc(var(--dot-space) / 2) calc(var(--dot-space) / 2);
    }

    .dark .bg-polka {
        --dot-color:rgba(255, 255, 255, 0.05);
    }
}

@theme inline {
    --radius-sm:calc(var(--radius) - 4px);
    --radius-md:calc(var(--radius) - 2px);
    --radius-lg:var(--radius);
    --radius-xl:calc(var(--radius) + 4px);
    --color-background:var(--background);
    --color-foreground:var(--foreground);
    --color-card:var(--card);
    --color-card-foreground:var(--card-foreground);
    --color-popover:var(--popover);
    --color-popover-foreground:var(--popover-foreground);
    --color-primary:var(--primary);
    --color-primary-foreground:var(--primary-foreground);
    --color-secondary:var(--secondary);
    --color-secondary-foreground:var(--secondary-foreground);
    --color-muted:var(--muted);
    --color-muted-foreground:var(--muted-foreground);
    --color-accent:var(--accent);
    --color-accent-foreground:var(--accent-foreground);
    --color-destructive:var(--destructive);
    --color-border:var(--border);
    --color-input:var(--input);
    --color-ring:var(--ring);
    --color-chart-1:var(--chart-1);
    --color-chart-2:var(--chart-2);
    --color-chart-3:var(--chart-3);
    --color-chart-4:var(--chart-4);
    --color-chart-5:var(--chart-5);
    --color-sidebar:var(--sidebar);
    --color-sidebar-foreground:var(--sidebar-foreground);
    --color-sidebar-primary:var(--sidebar-primary);
    --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
    --color-sidebar-accent:var(--sidebar-accent);
    --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
    --color-sidebar-border:var(--sidebar-border);
    --color-sidebar-ring:var(--sidebar-ring);
}

:root {
    --radius:0.625rem;
    --background:#fff;
    --foreground:#3c3c3c;
    --card:#fff;
    --card-foreground:#1a1a1a;
    --popover:#fff;
    --popover-foreground:#1a1a1a;
    --primary:#262626;
    --primary-foreground:#fafafa;
    --secondary:#f7f7f7;
    --secondary-foreground:#262626;
    --muted:#f7f7f7;
    --muted-foreground:#707070;
    --accent:#f7f7f7;
    --accent-foreground:#262626;
    --destructive:#dc2626;
    --border:#e5e5e5;
    --input:#e5e5e5;
    --ring:#a3a3a3;
    --chart-1:#f59e0b;
    --chart-2:#06b6d4;
    --chart-3:#3b82f6;
    --chart-4:#eab308;
    --chart-5:#f97316;
    --sidebar:#fafafa;
    --sidebar-foreground:#1a1a1a;
    --sidebar-primary:#262626;
    --sidebar-primary-foreground:#fafafa;
    --sidebar-accent:#f7f7f7;
    --sidebar-accent-foreground:#262626;
    --sidebar-border:#e5e5e5;
    --sidebar-ring:#a3a3a3;
}

.dark {
    --background:#1a1a1a;
    --foreground:#fafafa;
    --card:#262626;
    --card-foreground:#fafafa;
    --popover:#262626;
    --popover-foreground:#fafafa;
    --primary:#e5e5e5;
    --primary-foreground:#262626;
    --secondary:#333;
    --secondary-foreground:#fafafa;
    --muted:#333;
    --muted-foreground:#a3a3a3;
    --accent:#333;
    --accent-foreground:#fafafa;
    --destructive:#ef4444;
    --border:rgba(255, 255, 255, 0.1);
    --input:rgba(255, 255, 255, 0.15);
    --ring:#737373;
    --chart-1:#8b5cf6;
    --chart-2:#10b981;
    --chart-3:#f97316;
    --chart-4:#ec4899;
    --chart-5:#f43f5e;
    --sidebar:#262626;
    --sidebar-foreground:#fafafa;
    --sidebar-primary:#8b5cf6;
    --sidebar-primary-foreground:#fafafa;
    --sidebar-accent:#333;
    --sidebar-accent-foreground:#fafafa;
    --sidebar-border:rgba(255, 255, 255, 0.1);
    --sidebar-ring:#737373;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    html {
        font-size:14px;
        line-height:1.2;
    }

    /* Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations. */
    html, body {
        overscroll-behavior-y:none;
    }
}